<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/favicon.ico">

    <title>Save Paper</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body ng-app="app">

<div class="container">

    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#billing">Billing</a></li>
            <li><a href="#product">Product</a></li>
        </ul>
        <h3 class="text-muted">Save Paper</h3>
    </div>
    <br>

    <div ng-view></div>

    <div class="footer">
        <p>saveworld.com © 2016</p>
    </div>

</div> <!-- /container -->


<!-- Placed at the end of the document so the pages load faster -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/angular/angular.min.js"></script>
<script src="/angular/angular-route.js"></script>
<script src="/app/app.js"></script>

</body>
</html>